{
  "API_BASE_URL": "http://10.0.2.2",
  "API_CLIENT": "web",
  "PASSWORD_HASH_KEY": "",
  "AUTH_COOKIE_TTL_SECONDS": "3600",
  "BIOMETRIC_REASON": "Unlock UHIS Next",
  "DEV_USER": "",
  "DEV_PASS": ""
}
